	.visible-m {
		display: none !important;
	}

	.hidden-m {
		display: block !important;
	}

	nav {
		height: 180px;
		width: 100vw;
		z-index: 99;
		background-color: #5e2088;
		position: fixed;
		top: 0;
		left: 0;
	}

	nav .container {
		display: flex;
		align-items: center;
		flex-direction: row;
		height: 100%;
		justify-content: space-between;
	}

	nav {
		color: white;
	}

	nav a {
		text-decoration: none;
		color: white;
        padding-right: 5px;
	}
	
	nav ul,
	nav ul li {
		list-style: none;
		margin: 0;
		padding-right: 5px;
	}

	nav ul {
		display: flex;
		gap: 10px;
        font-size: 20px;
	}

    nav a:hover {
        transition: 0.4s;
        color: rgb(255, 225, 0);
    }

    .inicio {
        padding-top: 20vw;
		text-align: center;
		font-size: 20px;
		font-family: 'Pacifico', cursive;
		background-color: rgba(255, 189, 65, 0.918);
    }

	.button-inicio {
		margin-top: 10vw;
		background: transparent;
		border-radius: 50px;
		box-shadow:rgb(255, 225, 0);
	}

	@media (max-width: 992px) {

        nav {
            height: 150px;
        }

		nav.mobile .logo img {
			width: 215px;
		}

		nav.mobile .hamburguer {
			padding: 1rem 0;
			height: 12px;
			width: 30px;
			box-sizing: content-box;
			cursor: pointer;
			position: relative;
		}

		nav.mobile .hamburguer .bar {
			background-color: #ffffff;
			height: 2px;
			width: 100%;
			border-radius: 3px;
			position: absolute;
		}

		nav.mobile .hamburguer .bar:first-child {
			top: .5rem;
			transition: top .2s .15s, transform .3s;
		}

		nav.mobile .hamburguer .bar:nth-child(2) {
			top: 1.3rem;
			transition: top .2s .15s, transform .3s;
		}

		nav.mobile .hamburguer .bar:last-child {
			bottom: .5rem;
			transition: bottom .2s .15s, transform .3s;
		}

		nav.mobile.open .hamburguer .bar:first-child {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
			transition: top .2s, transform .3s .1s;
		}

		nav.mobile.open .hamburguer .bar:nth-child(2) {
			transform: rotate(45deg);
			transition: transform .3s .1s;
		}

		nav.mobile.open .hamburguer .bar:last-child {
			bottom: 50%;
			transform: translateY(50%) rotate(45deg);
			transition: bottom .2s, transform .3s .1s;
		}

		nav.mobile .dropdown-mobile {
			background: #5e2088;
			z-index: 99;
			position: fixed;
			width: 100%;
			height: 50%;
			overflow: overlay;
			margin-left: 100vw;
			transition: .3s;
		}
		
		nav.mobile.open .dropdown-mobile {
			margin-left: 0;
		}

		nav.mobile .dropdown-mobile ul {
			list-style: none;
			display: inline-block;
			width: 100%;
			padding: 0;
		}

		nav.mobile .dropdown-mobile ul li {
			width: 100;
		}

		nav.mobile .dropdown-mobile ul li a {
			display: flex;
			flex-direction: row;
			align-items: center;
			color: #ffffff;
			padding: 1rem 1.5rem;
		}

		nav.mobile .dropdown-mobile i {
			font-size: 1.6rem;
		}

		nav.mobile .dropdown-mobile .t-link {
			font-size: 1.5rem;
			line-height: 100%;
			margin-left: 1rem;
			font-family: "Gilroy", sans-serif;
		}

		nav.mobile .logo {
			color: #ffffff;
			font-size: 2rem;
		}

		.visible-m {
			display: block !important;
		}

		.hidden-m {
			display: none !important;
		}
	}